<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
    
    <form method="post" action="{{ url_for('login') }}">
        <!-- Form fields for username, password, and TOTP code -->
        <input type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        <!-- <input type="text" name="totp_code" placeholder="TOTP Code"> -->
        <button type="submit">Login</button>
    </form>
    

    <a href="{{ url_for('register') }}">Register</a>
</body>
</html>
